html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}


:root{
--primary-text-color: #757575;
--title-text-color:#212121;
--accent-color:#2196F3;
--primary-white-color:#ffffff;
--card-set-gap: 20px;
--card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


       




body{
    margin: 0px;
    color:var(--title-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.67;
}


h1,
h2,
h3,
h4,
h5,
h6,
p, 
ul{
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Контейнер*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto; 
 
}


.logo{
    font-family: "Ralewey",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 0px;;
    display:flex;
}
 



.logo-style{
    color: var(--title-text-color);
    display: flex;
}

.logo-box{
display: flex;

}

.main-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.a-flex{
    display:flex;
    align-items: center;
    
}

.d-flex{
    display: flex;
}
.d-flex:first-child{
    margin-left: 0px;
    padding-left: 0px;
}

.site-nav{
    
    display: flex;
    font-weight: 500;
    line-height:1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color:var(--title-text-color)
    
}
.site-nav .list:last-child{
    margin-right: 0px;
    padding-right: 20px;
}



.site-nav .item{
    display: block;
margin-right: 50px;
margin-top: 32px;
margin-bottom: 32px;
}

.site-nav .item:last-child{
    margin-right: 0px;
}




.nav-color{
    color: var(--title-text-color);
}

.nav-title{
  
   font-weight: 500;
     line-height:1.14;
   text-decoration: none;
   color: #212121;

}
 
.a-nav {
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
    

}








.link:hover,
.link:focus{
    color:var(--accent-color);
    
}
.site-nav .link.current{
    font-weight: 500;
     line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}  

.link:active{
    color: teal;
   
}
.link{
    text-decoration: none;
}
/*Герой*/

.a-contact{
    margin-right: 50px;
}
.a-contact:last-child{
    margin-right: 0px;
}


.title-head{  
font-weight: 900;
font-size: 44px;
line-height: 1,36;

letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 40px;
padding-top: 200px;

}


.button{
    color: white;
    background-color:var(--accent-color);
    border-color:transparent;
    cursor:pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 210px;
  
   
    
}

.dominant{
    display: flex;
    margin-bottom: 94px;
}


.text-head{
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;


}



.text-main{
   color:var(--primary-text-color);
   font-size: 14px;
   line-height:1.7;
   letter-spacing: 0.03em;
   width: 270px;
   margin-right: 30px;

}


.title-maid{
   font-weight: 700;
   font-size:36px;
   line-height:1.16;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}

.t-head{
    display: flex;
   padding-left: 0px; 
   padding-bottom: 94px;

   
}




.img-m{
    margin-right: 30px;
}
.img-m:last-child{
    margin-right: 0px;
}

.section-team{
    background: #F5F4FA;

}


.title-team{
   font: style 700;
   font-size:36px;
   line-height:1.16 ;
   text-align: center;
   letter-spacing: 0.03em;
 padding-top: 94px;
   margin-bottom: 50px;
}
   
.team-design{
 
 
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
}
.team-order{
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 94px;

  display: flex;
  flex-wrap: wrap;
  
  
}

.team-margin{
    margin-right: 30px;
}

.team-person{
   font-weight: 500;
   font-size:16px;
   line-height:1.18;
      letter-spacing: 0.03em;
      margin-top: 30px;
      text-align: center;
}



.person-job{
   color: var(--primary-text-color);
   font-size: 16px;
   line-height: 1.18;  
   letter-spacing: 0.03em;
   margin-top: 10px;
   padding-bottom: 30px;
   text-align: center;
  
}





.image-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}



.image-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}




.button-type{
    color:var(--title-text-color);
    border-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-type:hover{
    background-color: var(--accent-color);
    color: white;
}


.hero-size{
    display: block;
   background: #2F303A;
   align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 94px;

}


.footer{
 background: #2F303A;
;
}


.logo-f{
color: white;
margin-bottom: 20px;
}

.logo-fs{
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-p{
    padding-left: 0px;
}

.list{
    list-style: none;
    text-decoration: none;
    font-style: normal;
   
}


.address{
    font-style: normal;
    font-weight: normal;
   
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.a-address{
    font-style: normal;
    font-weight: normal;
   
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.invisible{
    display: none;
}

.portfolio-button{
    display: flex;
    justify-content: center;
       margin-bottom: 50px;
       
}
.button-lip{
    margin-right: 8px;
     box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
    
}
.portfolio-button:last-child{
    margin-right: 0px;
}

.profil-flex{
  padding: 0;
  margin: 0;
 
  padding-bottom: 94px;

  display: flex;
  flex-wrap: wrap;
  
}

.li-portsize{

}

.portfolio-design{
 
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;

}
.portfolio-design:nth-child(3n){
    margin-right: 0px;
}